# Project 2: How to Keep your Burrito Warm

### First Draft

Alex Wenstrup and Robin Graham-Hayes

## Question

Suppose you buy a chipotle burrito (or any other burrito) for takeout, and want it to be as warm as possible when you get home. If you lead a lonely life of luxury and have a vacant but heated passenger seat in your car, you may be inclined to turn on your heated seat and strap your burrito in for a toasty ride. If, however, you don't find yourself in that position, are you better off leaving your burrito in the cooler, but insulated seat next to you, or on your lap, which starts off warmer, but will be cooled by your bloodstream drawing the heat throughout your body?

In [2]:
# Configure Jupyter so figures appear in the notebook
%matplotlib inline

# Configure Jupyter to display the assigned value after an assignment
%config InteractiveShell.ast_node_interactivity='last_expr_or_assign'

# import functions from the modsim.py module
from modsim import *

In [5]:
tBurrito1=50 #above room temp
tBurrito2=50
tLap=34     #Source: https://hypertextbook.com/facts/2001/AbantyFarzana.shtml
tCushion=22 #room temp

state = State(tBurrito=tBurrito, #create state
              tLap=tLap,
              tCushion=tCushion,)

tBurrito    50
tLap        34
tCushion    22
dtype: int64

In [6]:
system = System(init = state,
               k_tortilla = 0.5,
               A = 0.027, #Contact area of burrito and cooling surface
               C_burrito = 3,
               C_cushion = 2
               )

init          tBurrito    50
tLap        34
tCushion    22
d...
k_tortilla                                                  0.5
A                                                         0.027
C_burrito                                                     3
C_cushion                                                     2
dtype: object

In [ ]:
def update_func(state, t system):
    new_state = state
    
    energy_B1 = state.tBurrito1 * C_burrito
    energy_dB1 = system.k_tortilla * system.A * (state.tBurrito1 - state.tCushion) / 0.001
    energy_dCushion = -1 * energy_dB1
    
    dB1 = energy_dB1 / system.C_burrito
    dCushion = energy_dCushion / system.C_cushion
    
    new_state.tBurrito1 += dB1
    new_state.tCushion += dCushion
    
    return new_state

#### Sources
- https://hypertextbook.com/facts/2001/AbantyFarzana.shtml
- https://www.sciencedirect.com/science/article/pii/S026087740600392X